## **Làm sạch dữ liệu cơ bản**

## 1.Tạo dữ liệu

In [1]:
import pandas as pd

data = {
    "id" : [1,2,3,4,5],
    "name" : ["Anh","Em","Phong","Phu", None],
    "age" : [15,14,18,27,50],
    "email" : [ "anh@vlu.edu.vn","em@gmail.com","phong@vanlanguni.vn","phu@yahoo.com", None],
    "salary" : [None, 70000,10000,250000,15000]
}
df = pd.DataFrame(data)
print(df)

   id   name  age                email    salary
0   1    Anh   15       anh@vlu.edu.vn       NaN
1   2     Em   14         em@gmail.com   70000.0
2   3  Phong   18  phong@vanlanguni.vn   10000.0
3   4    Phu   27        phu@yahoo.com  250000.0
4   5   None   50                 None   15000.0

In [6]:
# Điền giá trị thiếu bằng giá trị trung bình trong cột Salary
df["salary"].fillna(df["salary"].mean(), inplace=True)

In [5]:
# Điền giá trị thiếu bằng Unknow cho cột "name" và cột "email"
df["name"].fillna("Unknow", inplace=True)
df["email"].fillna("Unknow", inplace=True)

In [3]:
# Kiểm tra dữ liệu thiếu
df.isnull().sum()

id        0
name      0
age       0
email     0
salary    1
dtype: int64

In [4]:
# Lấy ra 5 dòng đầu tiên
df.head()

   id    name  age                email    salary
0   1     Anh   15       anh@vlu.edu.vn       NaN
1   2      Em   14         em@gmail.com   70000.0
2   3   Phong   18  phong@vanlanguni.vn   10000.0
3   4     Phu   27        phu@yahoo.com  250000.0
4   5  Unknow   50               Unknow   15000.0

In [7]:
# Chuẩn hóa cột name bằng cách viết hoa chữ cái đầu
df["name"] = df["name"].str.title()

In [8]:
# Chuẩn hóa cột email bằng cách chuyển về chữ thường
df["email"] = df["email"].str.lower()

In [9]:
# Lưu dữ liệu đã làm sạch
df.to_csv("Dulieulamsach.csv", index=False)